<!DOCTYPE html>

<html>
  <head>
    <title>Criar conta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/css/gifcss.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/imagens/whiskey.png}">
    <style>
      #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
      #top {
        background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
      }
      
      #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
      }

      .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
      }

      .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
      }

      .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
      }
    </style>
  </head>
  <body>
    <div id="top" class="container-fluid py-3">
      <header>
        <div class="pricing-header p-1 pb-md-4 mx-auto text-center">
          <h4 class="display-6 fw-normal">Reta final <i class="fa fa-flag-checkered" aria-hidden="true"></i></h4>
          <p class="fs-6 text-muted">Defina um e-mail e senha de acesso e pronto!</p>
        </div>
      </header>
    </div>
    <input type="hidden" id="contextApp" th:value="@{/}" />
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-2">
          <div class="shadow-sm mb-5 bg-body rounded">
            <div class="card">
              <div class="card-header">
                Criar conta
              </div>
              <div class="card-body setblockUI">
                <div class="row">
                  <div class="mb-3">
                    <label for="cpfCnpj" class="form-label">CPF/CNPJ</label>
                    <input type="text" readonly="true" class="form-control" id="cpfCnpj" name="cpfCnpj">
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                      <input placeholder="Nome" minlength="3" maxlength="50" type="text" required="true" class="form-control" id="nome" name="nome" data-bs-toggle="tooltip" data-bs-placement="top" title="Nome">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                      <input placeholder="Data nascimento" type="date" required="true" class="form-control" id="dataNascimento" name="dataNascimento" data-bs-toggle="tooltip" data-bs-placement="top" title="Data nascimento">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3">
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                      <input placeholder="Email" autocomplete="true" minlength="15" maxlength="50" type="email" required="true" class="form-control" id="email" name="email" data-bs-toggle="tooltip" data-bs-placement="top" title="Email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="d-flex">
                    <div class="flex-grow-1 mb-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input placeholder="Senha" required="true" type="password" class="form-control" id="password" name="password" minlength="11" maxlength="11" data-bs-toggle="tooltip" data-bs-placement="top" title="Senha">
                        <div id="invalid-feedback-senha" class="invalid-feedback"></div>
                      </div>
                    </div>
                    <div class="p-2">
                      <span style="color: #0dcaf0;" data-bs-toggle="popover" title="Como deve ser a sua senha" data-bs-content="A senha deve conter pelo menos 11 digitos ex: 12345678SU* "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="d-flex">
                    <div class="flex-grow-1 mb-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input required="true" placeholder="Confirmar Senha" type="password" minlength="11" maxlength="11" class="form-control" id="confirmPassword" name="confirmPassword" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirmar Senha">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-sm btn-secondary btnCriarConta">Fim</button>
                  <button type="button" class="btn btn-sm btn-light btnVerSenha" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver senha"><i class="fa fa-eye-slash" id="iconBtnVerSenha" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="footer mt-auto py-3 bg-light text-center">
      <div class="container">
        <span class="text-muted">© 2021 Copyright: SUDTECH Technologies 2021</span>
      </div>
    </footer>

    <div id="divLoading"></div>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/jquery.mask.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/jquery.blockUI.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/sweetalert.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/bcript.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor/js/moment.min.js}" type="text/javascript"></script>
    <script th:src="@{/novaconta/nova.conta.cliente.js}" type="text/javascript"></script>
  </body>
</html>