<div class="modal fade" id="detalhesFormaPagamento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:fragment="detalhesFormaPagamento" >
  <div class="modal-dialog">
    <div class="modal-content md-content" style="height:380px;">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detalhes da forma de pagamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless bg-light" >
          <thead>
            <tr>
              <th scope="col">Forma de pagamento</th>
              <th style="width: 90px;" scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>