<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Mensagens Recebidas</title>
    <meta name="description" content="Mensagens Recebidas">
    <th:block th:replace="fragments/CssFragment :: css"></th:block>
    <div th:replace="layout/fragments/Menu :: menu"></div>
    <style>
      .dataTable > thead > tr > th[class*="sort"]:before,
      .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
      }
    </style>
  </head>
<body class="bg-light">
  <main class="container" style="margin-top: 46px;">
    <div class="row">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="callout-md callout-info">
            <div class="col-sm-12 col-md-12 col-12 col-lg-3 mb-1">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="lidas" name="lidas">
                <label class="form-check-label check-input-lidas" for="lidas">Não Lidas</label>
              </div>
              <a type="button" th:href="@{/mensagens/nova}" class="btn btn-outline-secondary btn-sm mt-2">Nova mensagem</a>
            </div>
          </div>
          <div class="table-responsive setblockUI">
            <table id="mensagens" class="table table-hover caption-top ">
              <caption>Mensagens recebidas</caption>
              <thead>
                <tr>
                  <th class="text-muted"><i class="bi bi-person-plus sd-mr__5px"></i>Remetente</th>
                  <th class="text-muted"><i class="bi bi-envelope sd-mr__5px"></i>Mensagem</th>
                  <th class="text-muted"><i class="bi bi-calendar3 sd-mr__5px"></i>Recebida em</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
<th:block th:replace="modal/ModalMensagem :: modalMensagem"></th:block>
<th:block th:replace="fragments/JsFragment :: script"></th:block>
<script th:src="@{/alldrink-js/mensagem/Recebidas.js}" type="text/javascript"></script>
</body>
</html>
