<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Entrada de produto</title>
        <link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/css/select2.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/css/select2-bootstrap-5-theme.css}" rel="stylesheet" type="text/css"/>
    </head>

    <body class="bg-light rounded-3">
        <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
        <div class="container">
            <th:block th:include="fragments/MensagemSucesso"></th:block>
            <form th:action="${entradaProduto.id} == null ? @{/entradas/salvar} : @{/entradas/update/{codigo}(codigo=${entradaProduto.id})}" method="post" th:object="${entradaProduto}">
                <th:block th:include="fragments/MensagensErroValidacao"></th:block>
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <div class="card">
                        <h5 class="card-header">Entrada de produto</h5>
                        <div class="card-body">
                            <select id="produtos" name="produtos" class="form-select mb-3" required data-placeholder="Selecione o produto..." data-allow-clear="1">
                                <option>Christmas Island</option>
                                <option>South Sudan</option>
                                <option disabled>Jamaica (disabled)</option>
                                <option>Kenya</option>
                                <option>French Guiana</option>
                                <option>Mayotta</option>
                                <option>Liechtenstein</option>
                                <option>Denmark</option>
                                <option>Eritrea</option>
                                <option>Gibraltar</option>
                                <option>Saint Helena, Ascension and Tristan da Cunha</option>
                                <option>Haiti</option>
                                <option>Namibia</option>
                                <option>South Georgia and the South Sandwich Islands</option>
                                <option>Vietnam</option>
                                <option>Yemen</option>
                                <option>Philippines</option>
                                <option>Benin</option>
                                <option>Czech Republic</option>
                                <option>Russia</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script th:src="@{/vendor/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor/js/select2.min.js}" type="text/javascript"></script>
        <script th:src="@{/alldrink-js/entradaproduto/EntradaProduto.js}" type="text/javascript"></script>
    </body>
</html>