<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Pesquisa de produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="fragments/CssFragment :: css"></th:block>
        <style>
            .limit-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
            }
        </style>
    </head>

    <body>
        <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
        <div class="container-fluid">
            <div class="row">
                <div th:replace="layout/fragments/Menu :: menu"></div>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="container-fluid">
                            <th:block th:include="fragments/MensagemSucesso"></th:block>
                            <div class="card shadow-sm" style="margin-top: 5px;">
                                <div class="card-body">
                                    <div class="responsive">
                                        <table id="entradas" class="table table-hover caption-top" style="width:100%">
                                            <caption>Registro de entradas no estoque</caption>
                                            <thead>
                                                <tr style="font-size: 12px;">
                                                    <th>#</th>
                                                    <th>Cód barra</th>
                                                    <th>Produto</th>
                                                    <th>Nº nota</th>
                                                    <th>Fornecedor</th>
                                                    <th style="text-align: center;">Emissão</th>
                                                    <th style="text-align: center;">Quantidade</th>
                                                    <th style="text-align: center;">Valor custo</th>
                                                    <th style="text-align: center;">Valor venda</th>
                                                    <th style="text-align: center;">Nova quantidade</th>
                                                    <th style="text-align: center;">Qtd entrada</th>
                                                    <th style="text-align: center;">Novo valor custo</th>
                                                    <th style="text-align: center;">Novo valor venda</th>
                                                    <th style="text-align: center;">Valor entrada</th>
                                                    <th style="text-align: center;">Forma pagto</th>
                                                    <th style="text-align: center;">Situação compra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="font-size: 12px;" th:each="entrada : ${pagina}">
                                                    <th th:text="${entrada.id}"></th>
                                                    <th th:text="${entrada.produto.codigoBarra}"></th>
                                                    <th class="limit-text" data-bs-toggle="popover" data-bs-trigger="hover" title="Descrição produto" th:attr="data-bs-content=${entrada.produto.descricaoProduto}" th:text="${entrada.produto.descricaoProduto}"></th>
                                                    <th th:text="${entrada.numeroNota}"></th>
                                                    <th class="limit-text" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${entrada.fornecedor}" th:text="${entrada.fornecedor}"></th>
                                                    <th style="text-align: center;" th:text="${#dates.format(entrada.dataEmissao,'dd/MM/yyyy')}"></th>
                                                    <th style="text-align: center;" th:text="${entrada.quantidade}"></th>
                                                    <th style="text-align: center;" th:text="${#numbers.formatCurrency(entrada.valorCusto)}"></th>
                                                    <th style="text-align: center;" th:text="${#numbers.formatCurrency(entrada.valorVenda)}"></th>
                                                    <th style="text-align: center;" th:text="${entrada.novaQuantidade}"></th>
                                                    <th:block th:with="qtdEntrada=${entrada.novaQuantidade - entrada.quantidade}">
                                                        <th style="text-align: center;" th:text="${qtdEntrada}"></th>
                                                    </th:block>
                                                    <th style="text-align: center;" th:text="${#numbers.formatCurrency(entrada.novoValorCusto)}"></th>
                                                    <th style="text-align: center;" th:text="${#numbers.formatCurrency(entrada.novoValorVenda)}"></th>
                                                    <th style="text-align: center;" th:text="${#numbers.formatCurrency(entrada.valorTotal)}"></th>
                                                    <th style="text-align: center;" th:text="${entrada.formaPagamento}"></th>
                                                    <th style="text-align: center;">
                                                        <div th:switch="${entrada.situacaoCompra}">
                                                            <span th:case="${T(com.store.drinks.entidade.enuns.SituacaoCompra).CONFIRMADA}" class="badge bg-primary">[[${entrada.situacaoCompra}]]</span>
                                                            <span th:case="${T(com.store.drinks.entidade.enuns.SituacaoCompra).ABERTA}"><a title="Clique para alterar" th:href="@{/entradas/alterarSituacao/{codigo}(codigo=${entrada.id})}" class="btn btn-link">Aberta</a></span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <a href="/alldrinks/entradas/nova" type="button" class="btn btn-outline-secondary btn-sm mb-2">Nova</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <th:block th:replace="fragments/JsFragment :: script"></th:block>
        <script type="text/javascript">
            $(function () {
                
                $('[data-bs-toggle="popover"]').popover();
                $('[data-bs-toggle="tooltip"]').tooltip();
                
                $("#entradas").DataTable({
                    searching: false,
                    destroy: true,
                    pageLength: 10,
                    info: true,
                    responsive: true,
                    lengthChange: false,
                    columnDefs: [
                        {"width": "300px", "targets": 2}
                    ]
//                    language: {
//                        url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
//                    }
                });
                
                $("#entradas").DataTable().columns.adjust().draw();
            });
            
        </script>
    </body>
</html>