<input type="hidden" name="contextApp" id="contextApp" th:value="@{/}" />
<style>
  
</style>
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="menu">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link active" th:href="@{/}">
          <div class="icon-container" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${#authentication.name}">
            <img class="img-profile" src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png" />
            <div class="status-circle"></div>
            <p class="limit-text-profile" sec:authentication="name"></p>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" th:href="@{/}">
          <i class="fa fa-home" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/entradas/pesquisar}">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          Entradas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/produtos/pesquisar}">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/pdv}">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          PDV
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/fornecedor/pesquisar}">
          <i class="fa fa-truck" aria-hidden="true"></i>
          Fornecedores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-id-badge" aria-hidden="true"></i>
          Usuarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/loggedUsers}">
          <i class="fa fa-toggle-on" aria-hidden="true"></i>
          Online
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" th:href="@{/mensagens}">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          Mensagens
          <span class="badge bg-secondary">4</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" target="_blank" th:href="@{/novaConversa}">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          Nova conversa
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/clienteSistema/novo}">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          Cliente sistema
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          Relatorios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-plug" aria-hidden="true"></i>
          Integrations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>