<style>
  .text-small {
    font-size: 85%;
  }
</style>
<header class="py-3 mb-3 border-bottom " th:fragment="menu">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="font-size: 85%;">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">
              <i class="bi bi-speedometer"></i> Dashboard
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-basket2"></i> Pdv
            </a>
            <ul class="dropdown-menu text-small" style="font-size: 90%;" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" th:href="@{/pdv}">
                  <i class="bi bi-shop-window"></i> Abrir caixa
                </a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/movimentacao-caixa}">
                  <i class="bi bi-journal-richtext"></i> Movimentação caixa
                </a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/vendas/page-cancelar-venda}">
                  <i class="bi bi-x-square"></i> Cancelar venda
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" th:href="@{/recolhimento}">
                  <i class="bi bi-file-earmark-arrow-down"></i> Recolhimento
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" th:href="@{/fechar-caixa}">
                  <i class="bi bi-arrow-clockwise"></i> Fechar caixa
                </a>
              </li>
              
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
  </nav>
</header>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>-->

<!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse shadow-none " th:fragment="menu">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link active" th:href="@{/}">
          <div class="icon-container" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${#authentication.name}">
            <img class="img-profile" th:src="@{/imagens/perfil-default.jpg}" />  https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png 
            <div class="status-circle"></div>
            <p class="limit-text-profile" sec:authentication="name"></p>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" th:href="@{/}">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-0 text-muted">
        <span>Seção vendas</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/pdv}">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          PDV
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/movimentacao-caixa}">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          Movimentação caixa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/vendas/page-cancelar-venda}">
          <i class="fa fa-window-close" aria-hidden="true"></i>
          Cancelar venda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/recolhimento}">
          <i class="fa fa-random" aria-hidden="true"></i>
          Recolhimento
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/fechar-caixa}">
          <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
          Fechar caixa
        </a>
      </li>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-0 text-muted">
        <span>Seção cadastros</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/entradas/pesquisar}">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          Entradas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/produtos/pesquisar}">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/fornecedor/pesquisar}">
          <i class="fa fa-truck" aria-hidden="true"></i>
          Fornecedores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clienteSistema/novo}">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          Cliente sistema
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-id-badge" aria-hidden="true"></i>
          Usuarios
        </a>
      </li>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-0 text-muted">
        <span>Seção mensagens</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" target="_blank" th:href="@{/mensagens/recebidas}">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          Mensagens
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" target="_blank" th:href="@{/mensagens/nova}">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          Nova mensagem
        </a>
      </li>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-0 text-muted">
        <span>Diversos</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          Relatorios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/loggedUsers}">
          <i class="fa fa-toggle-on" aria-hidden="true"></i>
          Online
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/about}">
          <i class="fa fa-info" aria-hidden="true"></i>
          Sobre
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>-->