<!DOCTYPE html>

<html>
    <head>
        <title>Validar cliente sistema</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/css/gifcss.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <input type="hidden" id="contextApp" th:value="@{/}" />
        <div class="container mt-5">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="col-12">
                        <div class="shadow-sm mb-5 bg-body rounded">
                            <div class="card">
                                <div class="card-header">
                                    Autenticação para a liberação da criação da conta
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Digite seu CPF ou CNPJ</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cpfCnpj" placeholder="CPF/CNPJ" aria-label="CNPJ" aria-describedby="cnpj">
                                        <button class="btn btn-danger btnValidarClienteSistema" type="button" id="btnValidarClienteSistema" name="btnValidarClienteSistema"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divLoading"></div>
        <script th:src="@{/vendor/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor/js/jquery.mask.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor/js/sweetalert2.all.js}" type="text/javascript"></script>
        <script th:src="@{/clientesistema/validar.cliente.sistema.js}" type="text/javascript"></script>
    </body>
</html>
