<th:block th:fragment="css">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <input type="hidden" name="context" id="context" th:value="@{/}" />
  <link th:href="@{/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/responsive.dataTables.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/buttons.dataTables.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/select2.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/select2-bootstrap-5-theme.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/gifcss.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/navbar.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/callout.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/css/storedrink.css}" rel="stylesheet" type="text/css"/>
</th:block>