<th:block th:fragment="script">
  <script th:src="@{/vendor/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/select2.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/internationalisation/pt-BR.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/sweetalert.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.dataTables.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/dataTables.bootstrap5.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/dataTables.responsive.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/dataTables.buttons.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.mask.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/numeral.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.maskMoney.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.toast.min.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/jquery.blockUI.js}" type="text/javascript"></script>
  <script th:src="@{/vendor/js/moment.min.js}" type="text/javascript"></script>
  <script th:src="@{/alldrink-js/util/Utils.js}" type="text/javascript"></script>
  <script th:src="@{/alldrink-js/menu/menu.js}" type="text/javascript"></script>
  <script th:src="@{/alldrink-js/alldrinks.js}" type="text/javascript"></script>
</th:block>