<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Pesquisa de fornecedor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="fragments/CssFragment :: css"></th:block>
    </head>
    <body>
        <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
        <div class="container-fluid">
            <div th:replace="layout/fragments/Menu :: menu"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="container-fluid">
                        <a th:href="@{/fornecedor/novo}" type="button" class="btn btn-outline-secondary btn-sm mb-2">Novo</a>
                        <div th:if="${#lists.isEmpty(pagina.conteudo)}">
                            <div style="height: 44px; width: 100%;" class="toast align-items-center text-white bg-warning border-0 mt-1 mb-1" data-animation="true" data-autohide="true" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        <p class="">Nenhum fornecedor encontrado!</p>
                                    </div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <form method="GET" th:object="${fornecedorFiltro}">
                            <div class="accordion shadow mb-2 bg-body rounded" id="accordionPesquisar">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Pesquisar
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPesquisar">
                                        <div class="accordion-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="mb-3 col-12 col-md-4 col-lg-4">
                                                            <label for="cpfCnpj" class="form-label">CPF/CNPJ</label>
                                                            <input th:value="*{cpfCnpj}" autocomplete="off" type="text" class="form-control" id="cpfCnpj" name="cpfCnpj"/>
                                                        </div>
                                                        <div class="mb-3 col-12 col-md-4  col-lg-4">
                                                            <label for="nomeFornecedor" class="form-label">Nome</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i class="fa fa-barcode" aria-hidden="true"></i></span>
                                                                <input th:value="*{nomeFornecedor}" autocomplete="off" type="text" class="form-control" id="nomeFornecedor" name="nomeFornecedor"/>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 col-12 col-md-4 col-lg-4">
                                                            <label for="telefone" class="form-label">Telefone</label>
                                                            <input type="text" autocomplete="off" th:value="*{telefone}" class="form-control" id="telefone" name="telefone"/>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn  btn-primary btn-sm">Pesquisar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <div id="divLoading"></div>
        <th:block th:replace="fragments/JsFragment :: script"></th:block>
        <script type="text/javascript">
            $(function () {
                $("#codBarra").focus();
                setTimeout(() => {
                    $(".toast").toast('show');
                }, 0);
            });
        </script>
    </body>
</html>