<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Movimentação de caixa</title>
    <th:block th:replace="fragments/CssFragment :: css"></th:block>
  </head>
  <body>
    <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="layout/fragments/Menu :: menu"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="container-fluid">
              <div class="shadow-sm mb-3 bg-body rounded">
                  <div class="card">
                    <h5 class="card-header">Movimentação de caixa</h5>
                    <div class="card-body">
                      <div class="row">
                        <div class="table-responsive">
                          <table class="table caption-top table-striped">
                            <caption>Movimentação de caixa</caption>
                            <thead>
                              <tr>
                                <th>Entrada</th>
                                <th>Saída</th>
                                <th>Saldo</th>
                                <th>Data da venda</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>R$ 2,00</td>
                                <td>R$ 0,05</td>
                                <td>R$ 1,95</td>
                                <td>22/05/2022</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
