<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Abertura de caixa</title>
  <th:block th:replace="fragments/CssFragment :: css"></th:block>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
  </svg>
  <div th:replace="layout/fragments/Menu :: menu"></div>
</head>

<body class="bg-light">
  <main class="container pt-4 col-md-6 offset-md-3 col-xl-6 offset-xl-3 col-xxl-4 offset-xxl-4">
    <div th:if="${mensagem != null}" class="card">
      <div class="card-body">
        <th:block th:include="fragments/MensagemSucesso"></th:block>
        <div class="callout callout-success">
          <a th:href="@{/caixa/vendas}">Ir para vendas</a>
        </div>
      </div>
    </div>
    <form th:if="${mensagem == null}" th:object="${caixa}" method="post" th:action="@{/caixa/salvar}">
      <th:block th:include="fragments/MensagensErroValidacao"></th:block>
      <div class="shadow-sm">
        <div class="card">
          <h5 class="card-header">Abertura do caixa</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 sd-required">
                <label for="valorInicialTroco" class="form-label">Valor para troco</label>
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="bi bi-cash"></i></span>
                  <input required="true" type="text" autocomplete="off" min="0" class="form-control monetaria" th:field="*{valorInicialTroco}" id="valorInicialTroco" name="valorInicialTroco"/>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-secondary">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>
  <div id="divLoading"></div>
<th:block th:replace="fragments/JsFragment :: script"></th:block>
<script type="text/javascript">
  $(function () {
    $("#valorInicialTroco").focus();
    $("form").submit(function () {
      $("#valorInicialTroco").val($("#valorInicialTroco").val().replace(".", "").replace(",", "."));
    });
  });
</script>
</body>
</html>
