<html lang="pt-BR">
  <head>
    <title>Pesquisa de cliente sistema</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/imagens/primavera.jpg}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/CssFragment :: css"></div>
    <div th:replace="layout/fragments/Menu :: menu"></div>
  </head>
  <body class="bg-light">
    <main class="container pt-4 pb-2 mb-3">
      
    </main>
    <div id="divLoading"></div>
    <th:block th:replace="fragments/JsFragment :: script"></th:block>
  </body>
</html>
